<%= form_with(model: claim, local: true) do |form| %>
  <% if claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group my-photos clearfix">
    <label for="">My Photos <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Here you can add up to 5 images that will be viewable as a gallery on your host page. It’s important to note that your featured photo will be the photo you added to your profile page."></i></label>
    
    <!-- <div class="note">Add up to 5 photos.<br>Remember: A friendly smile makes friends.</div> -->
  <!--   <span class="uploaded-photo">
      <a href="#" class="upload-photo" onclick="document.getElementById('files').click()"><i class="fa fa-camera"></i>Upload</a>
    </span> -->
                          <div class="note">Add up to 5 photos.<br>Remember: A friendly smile makes friends.</div>
    <input type="hidden" style="border:0;" id="file_name" onclick="jQuery('#upload_datafile').click()" readonly="readonly" name="file_name" class="browse">
    <input type="hidden" name="file_name" value="" id="fileDragName">
    <input type="hidden" name="size" value="" id="fileDragSize">
    <input type="hidden" name="type" value="" id="fileDragType">
    <input type="hidden" name="image_base64" value="" id="fileDragData">
    <span class="uploaded-photo">
    <a href="#" class="upload-photo" onclick="document.getElementById('files').click()"><i class="fa fa-camera"></i>Upload
    </a>
    <input class="browse" data-max-file-size="2097152" id="files" multiple="multiple" name="image_attachments[avatar][]" onchange="validateFiles(this);showimagepreview(this);" type="file">
    </span>


     <output id="result" width="77" height="74">
     <img src="" alt="">

    <!-- <span class="uploaded-photo">
    <img src="img/Jason.jpg" width="77" height="74" alt="">
    <i class="fa fa-close"></i>
    </span>
    <span class="uploaded-photo">
    <img src="img/Alan_Smolinski.jpg" width="77" height="74" alt="">
    <i class="fa fa-close"></i>
    </span> -->
    
    <!-- <span class="uploaded-photo">
    <a href="#" class="upload-photo">
    <i class="fa fa-camera"></i>
    Upload
    </a>
    </span> -->
  </output>
</div>
 
  <%= form.submit :class=>"btn btn-primary"%>
<% end %>